body {
    margin: 0px;
    background-color: #bb1f22;
}

.hoi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 20px solid;
    border-color: black;
    float: right;
}

.HomePageImages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FrontpageImages {
    display: flex;
    height: auto;
    border: 20px solid black;
}

/*
Frontpage Welcome
 */
.FrontpageWelcomeContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: #ffe001;
    font-family: Calibri, serif;
    color: Black;
    height: auto;
    width: 863.400px;
    padding: 35px;
    transform: scale(0.9);
}

.FrontpageWelcomeBorder {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 12px;
    padding-right: 60px;
}

.welcomeContent {
    font-size: 18px;
    font-family: monospace;
}

.welcomeCenter {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 46px;
    margin-right: 46px;


}



.CTCP-Container {
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background: #cc0001;
    box-shadow: 0 0 1rem rgb(0 0 0/15%);
}

.CTCP-Text {
    text-align: center;
    font-size: 19px;
    font-style: italic;
    cursor: default;
    font-family: 'Public Sans', sans-serif;
    color: #ffe001;
}


.BottomInfo {
    display: flex;
    margin-top: 0;
    padding: 0;
    background: #cc0001;
    box-shadow: 0 0 1rem rgb(0 0 0/15%);
    align-items: center;
    border-right: 4px;
    border-color: #cc0001;
}

