.R\.O\.L\.C {
    text-align: center;
    font-size: 19px;
    font-family: Calibri;
    color: #ffe001;
}

.ROLC-Navbar {
    display: flex;
    justify-content: space-between;
    background-color: #cc0001;              /*#e0252e #bb1f22*/
    height: 100px;
    box-shadow: 0 0 1rem rgb(0 0 0/15%);
    border-bottom: 2px transparent;
    border-bottom-style: groove;
    border-color: black;
}

.NavbarNameContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 80px;
    width: 580px;
    align-items: center;
}

.NameBorder {
    display: flex;
    align-items: center;
    border-right: 4px;
    border-color: #cc0001;
}

.NavBarLi {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 630px;
    margin: 25px;
    padding: 5px;
    align-items: center;
}

.NavBarLiContainer {
    display: flex;
    font-family: "Calibri";
}

div a {
    text-decoration: none;
    color: #ffe001;
}

.NavBarLogo {
    float: left;
    width: 100px;
    height: 90px;
}


